svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(
        d="M9 17.4242C9 18.2526 8.32843 18.9242 7.5 18.9242C6.67157 18.9242 6 18.2526 6 17.4242C6 16.5958 6.67157 15.9242 7.5 15.9242C8.32843 15.9242 9 16.5958 9 17.4242Z"
        fill="#8598A7" class="fs fill")
    path(
        d="M12.5 13.9613C13.3284 13.9613 14 13.2897 14 12.4613C14 11.6329 13.3284 10.9613 12.5 10.9613C11.6716 10.9613 11 11.6329 11 12.4613C11 13.2897 11.6716 13.9613 12.5 13.9613Z"
        fill="#8598A7" class="fs fill")
    path(
        d="M14 17.4242C14 18.2526 13.3284 18.9242 12.5 18.9242C11.6716 18.9242 11 18.2526 11 17.4242C11 16.5958 11.6716 15.9242 12.5 15.9242C13.3284 15.9242 14 16.5958 14 17.4242Z"
        fill="#8598A7" class="fs fill")
    path(
        d="M17.5 13.9613C18.3284 13.9613 19 13.2897 19 12.4613C19 11.6329 18.3284 10.9613 17.5 10.9613C16.6716 10.9613 16 11.6329 16 12.4613C16 13.2897 16.6716 13.9613 17.5 13.9613Z"
        fill="#8598A7" class="fs fill")
    path( fill-rule="evenodd" clip-rule="evenodd"
        d="M1.5 5.5C1.5 2.73858 3.73858 0.5 6.5 0.5H18.5C21.2614 0.5 23.5 2.73858 23.5 5.5V18.5C23.5 21.2614 21.2614 23.5 18.5 23.5H6.5C3.73858 23.5 1.5 21.2614 1.5 18.5V5.5ZM21.5 8.5V18.5C21.5 20.1569 20.1569 21.5 18.5 21.5H6.5C4.84315 21.5 3.5 20.1569 3.5 18.5V8.5H21.5Z"
        fill="#8598A7" class="fs fill")
    g(opacity="0.3")
        path(
            d="M7.5 13.9613C8.32843 13.9613 9 13.2897 9 12.4613C9 11.6329 8.32843 10.9613 7.5 10.9613C6.67157 10.9613 6 11.6329 6 12.4613C6 13.2897 6.67157 13.9613 7.5 13.9613Z"
            fill="#8598A7" class="fs fill")
        path(
            d="M17.5 18.9242C18.3284 18.9242 19 18.2526 19 17.4242C19 16.5958 18.3284 15.9242 17.5 15.9242C16.6716 15.9242 16 16.5958 16 17.4242C16 18.2526 16.6716 18.9242 17.5 18.9242Z"
            fill="#8598A7" class="fs fill")