svg(width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg")
    path( fill-rule="evenodd" clip-rule="evenodd"
        d="M2.91895 4.92136C2.91895 3.30794 4.22688 2 5.84031 2C7.45373 2 8.76167 3.30794 8.76167 4.92136V5.75604C8.76167 7.36946 7.45373 8.6774 5.84031 8.6774C4.22688 8.6774 2.91895 7.36946 2.91895 5.75604V4.92136ZM6.76167 4.92136V5.75604C6.76167 6.26489 6.34916 6.6774 5.84031 6.6774C5.33145 6.6774 4.91895 6.26489 4.91895 5.75604V4.92136C4.91895 4.41251 5.33145 4 5.84031 4C6.34916 4 6.76167 4.41251 6.76167 4.92136Z"
        fill="#8598A7" class="fs fill")
    path(
        d="M5.05952 11.2832C5.53082 11.1116 6.05086 11.1333 6.50628 11.3435C7.00773 11.5749 7.60186 11.356 7.8333 10.8546C8.06474 10.3531 7.84585 9.75897 7.34439 9.52753C6.40973 9.09615 5.34244 9.05174 4.37517 9.40397L2.91654 9.93514C1.46562 10.4635 0.5 11.8428 0.5 13.3869V14.0724C0.5 15.7959 1.94012 17.1697 3.66164 17.0886C4.21331 17.0626 4.63946 16.5943 4.61346 16.0427C4.58747 15.491 4.11918 15.0648 3.56751 15.0908C2.98625 15.1182 2.5 14.6543 2.5 14.0724V13.3869C2.5 12.6835 2.9399 12.0551 3.60088 11.8144L5.05952 11.2832Z"
        fill="#8598A7" class="fs fill")
    path( fill-rule="evenodd" clip-rule="evenodd"
        d="M19.1095 2.00004C20.7418 2.00004 22.0651 3.32335 22.0651 4.95573V5.80021C22.0651 7.4326 20.7418 8.7559 19.1095 8.7559C17.4771 8.7559 16.1538 7.4326 16.1538 5.80021V4.95573C16.1538 3.32335 17.4771 2.00004 19.1095 2.00004ZM18.1538 5.80021V4.95573C18.1538 4.42792 18.5816 4.00004 19.1095 4.00004C19.6373 4.00004 20.0651 4.42792 20.0651 4.95573V5.80021C20.0651 6.32803 19.6373 6.7559 19.1095 6.7559C18.5816 6.7559 18.1538 6.32803 18.1538 5.80021Z"
        fill="#8598A7" class="fs fill")
    path(
        d="M19.9027 11.3813C19.4229 11.2066 18.8936 11.2286 18.43 11.4426C17.9285 11.674 17.3344 11.4551 17.103 10.9537C16.8715 10.4522 17.0904 9.8581 17.5919 9.62666C18.5347 9.19151 19.6113 9.14671 20.587 9.50202L22.0628 10.0394C23.5261 10.5723 24.5 11.9634 24.5 13.5207V14.2143C24.5 15.9513 23.0486 17.3359 21.3135 17.2542C20.7618 17.2282 20.3357 16.7599 20.3617 16.2082C20.3877 15.6566 20.856 15.2304 21.4076 15.2564C22.0024 15.2844 22.5 14.8098 22.5 14.2143V13.5207C22.5 12.8041 22.0518 12.1639 21.3785 11.9187L19.9027 11.3813Z"
        fill="#8598A7" class="fs fill")
    path(
        d="M4.88902 18.9443C5.61167 17.6797 6.71082 16.672 8.03331 16.0616L8.72853 15.7407C11.1216 14.6362 13.8785 14.6362 16.2716 15.7407L16.9668 16.0616C18.2893 16.672 19.3884 17.6797 20.1111 18.9443L20.4352 19.5116C21.5781 21.5116 20.134 24 17.8305 24H7.16959C4.86613 24 3.42202 21.5116 4.56486 19.5116L4.88902 18.9443Z"
        fill="#8598A7" class="fs fill")
    path(
        d="M12.5 6C10.567 6 9 7.567 9 9.5V10.5C9 12.433 10.567 14 12.5 14C14.433 14 16 12.433 16 10.5V9.5C16 7.567 14.433 6 12.5 6Z"
        fill="#8598A7" class="fs fill")