svg(width="24" height="15" viewBox="0 0 24 15" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect(width="24" height="15" rx="7.5" fill="#2288DD")
    path(
        d="M4.57739 12.1054V4.5154H5.67739V5.2854C5.78006 5.12406 5.92306 4.9774 6.10639 4.8454C6.50239 4.55206 6.96439 4.4054 7.49239 4.4054C8.16706 4.4054 8.74639 4.6694 9.23039 5.1974C9.72173 5.71806 9.96739 6.37073 9.96739 7.1554C9.96739 7.94006 9.72173 8.5964 9.23039 9.1244C8.74639 9.64506 8.16706 9.9054 7.49239 9.9054C6.96439 9.9054 6.50239 9.75873 6.10639 9.4654C5.92306 9.32606 5.78006 9.1794 5.67739 9.0254V12.1054H4.57739ZM6.13939 8.3764C6.44739 8.69906 6.82506 8.8604 7.27239 8.8604C7.71973 8.8604 8.09739 8.69906 8.40539 8.3764C8.71339 8.05373 8.86739 7.64673 8.86739 7.1554C8.86739 6.66406 8.71339 6.25706 8.40539 5.9344C8.09739 5.61173 7.71973 5.4504 7.27239 5.4504C6.82506 5.4504 6.44739 5.61173 6.13939 5.9344C5.83139 6.25706 5.67739 6.66406 5.67739 7.1554C5.67739 7.64673 5.83139 8.05373 6.13939 8.3764Z"
        fill="white")
    path(
        d="M11.1731 9.7954V4.5154H12.2731V5.2304C12.4198 5.0544 12.5554 4.91873 12.6801 4.8234C13.0321 4.54473 13.4281 4.4054 13.8681 4.4054H14.1431V5.5604L14.0001 5.5384C13.8241 5.5164 13.7251 5.5054 13.7031 5.5054C13.3144 5.5054 12.9771 5.6594 12.6911 5.9674C12.4124 6.26806 12.2731 6.64573 12.2731 7.1004V9.7954H11.1731Z"
        fill="white")
    path(
        d="M15.4915 9.1134C14.9635 8.57806 14.6995 7.9254 14.6995 7.1554C14.6995 6.3854 14.9635 5.7364 15.4915 5.2084C16.0269 4.67306 16.6795 4.4054 17.4495 4.4054C18.2195 4.4054 18.8685 4.67306 19.3965 5.2084C19.9319 5.7364 20.1995 6.3854 20.1995 7.1554C20.1995 7.9254 19.9319 8.57806 19.3965 9.1134C18.8685 9.6414 18.2195 9.9054 17.4495 9.9054C16.6795 9.9054 16.0269 9.6414 15.4915 9.1134ZM16.2725 8.3874C16.5879 8.70273 16.9802 8.8604 17.4495 8.8604C17.9189 8.8604 18.3112 8.70273 18.6265 8.3874C18.9419 8.06473 19.0995 7.65406 19.0995 7.1554C19.0995 6.65673 18.9419 6.24973 18.6265 5.9344C18.3112 5.61173 17.9189 5.4504 17.4495 5.4504C16.9802 5.4504 16.5879 5.61173 16.2725 5.9344C15.9572 6.24973 15.7995 6.65673 15.7995 7.1554C15.7995 7.65406 15.9572 8.06473 16.2725 8.3874Z"
        fill="white")